@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&display=swap');
.title {
  text-align: center;
  font-family: Fira code;
  color: cadetblue;
}
button {
  font-family: Fira code;
  background-color: cadetblue;
  color: black;
  font-size: 100%;
  width: 100px;   
  height: 40px;
  border-radius: 100px;
}
.inp {
  
  width: 400px;
  height: 30px;
  border: 5px solid cadetblue;
  border-radius: 50px;
}
input {
  font-family: Fira code;
  font-size: large;
}
.card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}
#del:hover{
  background-color: red;
}








.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
